<!DOCTYPE html>
<html lang="en">
 @await Html.PartialAsync("~/Views/MemberLayoutPartial/_HeadPartial.cshtml")

<body class="bg-theme bg-theme1">

<!-- start loader -->
   <div id="pageloader-overlay" class="visible incoming"><div class="loader-wrapper-outer"><div class="loader-wrapper-inner" ><div class="loader"></div></div></div></div>
   <!-- end loader -->

<!-- Start wrapper-->
<div id="wrapper">
        <div class="loader-wrapper"><div class="lds-ring"><div></div><div></div><div></div><div></div></div></div>
            
          @RenderBody();  
        <!--Start Back To Top Button-->
        <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
        <!--End Back To Top Button-->
         @await Html.PartialAsync("~/Views/MemberLayoutPartial/_SwitcherPartial.cshtml")
 </div>
<!-- End wrapper-->
   @await Html.PartialAsync("~/Views/MemberLayoutPartial/_ScriptPartial.cshtml")
    


</body>
</html>