
@model Destination
@{
    ViewData["Title"] = "Yönetici Kontrol";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    
}
<div class="row d-flex justify-content-center">
 <div class="col-md-9 ml-3">
                  <div class="card mb-4">
                    <h5 class="card-header">Rota Güncelleme</h5>
                    
                    <form  method="post" class="card-body ">
                        <div class="row">
                                            <input type="hidden" asp-for="ID">
                                            <div class="row g-2">
                                            <div class="col mb-0">
                                              <label for="city" class="form-label">Şehir</label>
                                              <input
                                                type="text"
                                                asp-for="City"
                                                id="city"
                                                class="form-control"
                                                placeholder="Şehir"
                                              />
                                            </div>
                                            <div class="col mb-0">
                                              <label for="dayNight" class="form-label">Gün-Gece</label>
                                              <input
                                                type="text"
                                                asp-for="DayNight"
                                                id="dayNight"
                                                class="form-control"
                                                placeholder="Gün-Gece"
                                              />
                                            </div>
                                          </div>
                                          <div class="row g-2">
                                            <div class="col mb-0">
                                              <label for="capacity" class="form-label">Kapasite</label>
                                              <input
                                                type="text"
                                                asp-for="Capacity"
                                                id="capacity"
                                                class="form-control"
                                                placeholder="Yolcu Kapasitesi"
                                              />
                                            </div>
                                            <div class="col mb-0">
                                              <label for="price" class="form-label">Fiyat</label>
                                              <input
                                                type="text"
                                                asp-for="Price"
                                                id="price"
                                                class="form-control"
                                                placeholder="Fiyat ₺, $"
                                              />
                                            </div>
                                          </div>
                                        <div class="col mb-3">
                                              <label for="description" class="form-label">Açıklama</label>
                                              <input
                                                type="text"
                                                asp-for="Description"
                                                id="description"
                                                class="form-control"
                                                placeholder="Açıklama giriniz"
                                              />
                                            </div>
                                          </div>
                                          <div class="card-footer">
                              <button type="submit" class="btn btn-primary">Rotayı Güncelle</a>
                        </div>
                    </form>
                 
                  </div>
                </div>
</div>
