@model UserProfileViewModel
<div class="tab-pane active " id="profile">
    @* class="col-md-3-4" *@
   <h5 class="mb-3">Kullanıcı Profili</h5>
    <div class="row d-flex justify-content-around">
                
                @await Component.InvokeAsync("GuideList")
                    

        <div class="card  col-md-5" style="font-size: 15px;">
            <div class="card-header">Genel Bilgiler</div>
            <div class="card-body">
            <p class="text-white mb-3">
                Karadeniz-Tur üye paneline hoş geldiniz sol tarafta bulunan
                menüler üzerinden, hızlıca rezervasyonlarınızı durumunu takip 
                edebilir ve iletişim detaylarına erişebilirsiniz. 
            </p>
            <hr>   
            <div>Ad Soyad:<span style="font-size: 13px;" class="mx-3 text-warning">@Model.Name @Model.SurName</span></div>
            <div>E-Posta:<span style="font-size: 13px;" class="mx-3 text-warning">@Model.Email</b></div>
            <div>Telefon:<span style="font-size: 13px;" class="mx-3 text-warning">@Model.PhoneNumber</span></div>
            <div>Konum : <span style="font-size: 13px;" class="mx-3 text-warning">Türkiye</span></div>
            </div>
        </div>
         @* @await Component.InvokeAsync("PlatformSettings") *@
    </div>
</div>