@{
     ViewData["Title"]= "Profile";
     Layout = "~/Views/Shared/_UserLayout.cshtml";
 }
<div class="content-wrapper">
    <div class="container-fluid">
        <h1>Geçmiş Rezervasyonlarım</h1>
    </div>
</div>