@{
     ViewData["Title"]= "Profile";
     Layout = "~/Views/Shared/_UserLayout.cshtml";
 }

<div class="content-wrapper">
    <div class="container-fluid">
      <!--  Content Start  -->
      <div class="card mt-3">
         <div class="card-content">
        <div class="row row-group m-0">
           
             <div class="col-12 col-lg-6 col-xl-3 border-light">
                <div class="card-body">
                  <h5 class="text-white mb-0">Paris <span class="  float-right rounded-circle overflow-hidden">
                    <img width="50" height="50"  src="/images/g7.jpg" alt=""> </span></h5>
                    <br>
                    <hr>
                    <div>Fiyatı :  <span class="float-right">2250 ₺</span></div>
                    
                    
                </div>
            </div>
        </div>
    </div>
 </div> 
 </div>
 <!-- Content End -->
    </div>
</div>