@model ReservationAddViewModel;
@{
     ViewData["Title"]= "Profile";
     Layout = "~/Views/Shared/_UserLayout.cshtml";
  }
<div class="content-wrapper">
  <div class="container-fluid">

    <div class="row mt-3 d-flex justify-content-center">
  <div class="col-lg-6">
         <div class="card">
           <div class="card-body">
           <div class="card-title">Rezervasyon Kayıt Formu</div>
           <hr>
            <form method="post">
           <div class="form-group">
            <label for="DestinationID">Rota Seç</label>
            <select asp-for="Reservation.DestinationID" asp-items='@(new SelectList(Model.Destinations, "ID", "City"))' class="form-control" >
            
            </select>
           </div>
           <div class="form-group">
            <label for="PersonCount">Kişi Sayısı</label>
            <input type="text" asp-for="Reservation.PersonCount" class="form-control" id="PersonCount" placeholder="Kişi Sayısını Giriniz">
           </div>
           <div class="form-group">
            <label for="date">Tarih</label>
            <input type="date" asp-for="Reservation.ReservationDate" min="" lang="tr-TR" class="form-control dashboard-date" id="date" placeholder="Enter Your Mobile Number">
           </div>
           <div class="form-group">
            <label for="Description">Açıklama</label>
            <textarea type="text" asp-for="Reservation.Description" class="form-control" id="Description" placeholder="Açıklama giriniz">
            </textarea>
           </div>
           <div class="form-group">
            <button type="submit" class="btn btn-light px-5"><i class="icon-lock"></i>Reverzasyon Yap</button>
          </div>
          </form>
         </div>
         </div>
      </div>
      </div>
    </div>
    </div>