@model UserLoginViewModel
@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
    ViewData["Title"] = "Kullanıcı Giriş";
}

<div class="card card-authentication1 mx-auto my-5">
                <div class="card-body">
                <div class="card-content p-2">
                    <div class="text-center">
                        <img src="~/images/logo-icon.png" alt="logo icon">
                    </div>
                <div class="card-title text-uppercase text-center py-3">Giriş Yap</div>
                    <form method="post">
                    <div class="form-group">
                    <label for="email" class="sr-only">Kullanıcı Adı</label>
                    <div class="position-relative has-icon-right">
                        <input type="text" asp-for="UserName" id="userName" class="form-control input-shadow" placeholder="Kullanıcı Adınızı Giriniz">
                        <div class="form-control-position">
                             <i class="fa fa-user"></i>
                        </div>
                    </div>
                    <span asp-validation-for="UserName"></span>
                    </div>
                    <div class="form-group">
                    <label for="password" class="sr-only">Şifre</label>
                    <div class="position-relative has-icon-right">
                        <input type="password" asp-for="Password" id="password" class="form-control input-shadow" placeholder="Şifreniz">
                        <div class="form-control-position change-lock">
                            <i class="fa fa-lock"></i>
                        </div>
                    </div>
                     <span asp-validation-for="Password"></span>
                    </div>
                    <div class="form-row">
                    <div class="form-group col-6 text-right">
                    <a href="">Şifremi Unuttum</a>
                    </div>
                    </div>
                    <button type="submit" class="btn btn-light btn-block">Giriş Yap</button>
                   
                    
                    </form>
                </div>
                </div>
                <div class="card-footer text-center py-3">
                    <p class="text-warning mb-0">Bir hesabınız yok mu? <a asp-action="Signup" asp-controller="Auth"> Buradan kaydolun</a></p>
                </div>
                </div>